.metadata/
soot-infoflow/.classpath
soot-infoflow/.project
soot-infoflow/.settings
soot-infoflow/META-INF
soot-infoflow/Readme.md
soot-infoflow/SecuriBenchReadme.txt
soot-infoflow/ant.settings.jenkins
soot-infoflow/ant.settings.template
soot-infoflow/bin
soot-infoflow/build.properties
soot-infoflow/build.xml
soot-infoflow/license.txt
soot-infoflow/securiBench
soot-infoflow/test
soot-infoflow-android/.DS_Store
soot-infoflow-android/.classpath
soot-infoflow-android/.project
soot-infoflow-android/.settings
soot-infoflow-android/PLDI14 Distribution
soot-infoflow-android/README.md
soot-infoflow-android/ant.settings.jenkins
soot-infoflow-android/ant.settings.template
soot-infoflow-android/bin
soot-infoflow-android/build.properties
soot-infoflow-android/build.xml
soot-infoflow-android/insecureBank
soot-infoflow-android/license.txt
soot-infoflow-android/sootOutput
soot-infoflow-android/test
soot-infoflow-android/testAPKs
soot-infoflow-android/tmp.log
soot-infoflow-android/moster.jar
monster-out/
backup/
soot-infoflow-android/monster.jar
upload-monster.sh
run-debug.sh
monster.properties
download-monsterout.sh
soot-infoflow-android/monster.properties